body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.container {
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
  height: 80px;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}